* {
  margin: 0;
  padding: 0;
}

.login .login-page {
  display: flex;
  align-items: center;
  width: 100%;
}
.login .login-page .left-login-page {
  background: url("../../Image/background-smathom.jpg");
  height: 100vh;
  width: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  top: 0;
}
.login .login-page .right-login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.login .login-page .right-login-page .logo-smathom {
  width: 210px;
  cursor: pointer;
}
.login .login-page .right-login-page p {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: grey;
  cursor: pointer;
}
.login .login-page .right-login-page .form-login form .error {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: red;
}
.login .login-page .right-login-page .form-login form .input {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.login .login-page .right-login-page .form-login form .input .icon {
  font-size: 23px;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0 5px;
  color: #0a0a0a;
  cursor: pointer;
}
.login .login-page .right-login-page .form-login form .input input {
  width: 230px;
  padding: 5px 0 5px 33px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.login .login-page .right-login-page .form-login form .input input:focus {
  outline: 1px solid #021b79;
}
.login .login-page .right-login-page .form-login form .input ::-webkit-input-placeholder {
  color: #0a0a0a;
  opacity: 0.8;
}
.login .login-page .right-login-page .form-login form button {
  width: 100%;
  margin-top: 10px;
  padding: 3px 0;
  border-radius: 5px;
  border: none;
  background: #b92b27;
  background: -webkit-linear-gradient(to left, #1565C0, #b92b27);
  background: linear-gradient(to left, #1565C0, #b92b27);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.login .login-page .right-login-page .form-login form button:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.dashboard {
  width: 100%;
  background: #f1f1f1;
}
.dashboard .dashboard-page {
  width: 100%;
  display: flex;
}
.dashboard .dashboard-page .left-dashboard {
  width: 350px;
  background-color: #021b79;
  height: 100vh;
  position: sticky;
  top: 0;
}
.dashboard .dashboard-page .left-dashboard .smathom {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.dashboard .dashboard-page .left-dashboard div .main-menu {
  margin: 40px 0 40px 33px;
}
.dashboard .dashboard-page .left-dashboard div .main-menu .link {
  color: white;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.dashboard .dashboard-page .left-dashboard div .main-menu .link .icon {
  margin-right: 7px;
  font-size: 22px;
}
.dashboard .dashboard-page .left-dashboard div .main-menu .link span {
  font-size: 17px;
}
.dashboard .dashboard-page .left-dashboard div .main-menu .link .span {
  margin-left: 3px;
  margin-right: 10px;
}
.dashboard .dashboard-page .left-dashboard div .main-menu button {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.dashboard .dashboard-page .left-dashboard div .main-menu button .icon {
  margin-right: 7px;
  font-size: 22px;
}
.dashboard .dashboard-page .left-dashboard div .main-menu button span {
  font-size: 17px;
}
.dashboard .dashboard-page .left-dashboard div .main-menu:hover {
  transform: scale(1.1);
  opacity: 0.8;
  transition: 0.3s;
}
.dashboard .dashboard-page .right-dashboard {
  width: 100%;
}
.dashboard .dashboard-page .right-dashboard nav {
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 1px grey;
}
.dashboard .dashboard-page .right-dashboard nav .icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 7px;
}
.dashboard .dashboard-page .right-dashboard nav p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 3px;
}
.dashboard .dashboard-page .right-dashboard section {
  margin: 20px 10px;
  height: 80vh;
  background: #fff;
  box-shadow: 1px 1px 1px grey;
  border-radius: 25px;
  overflow: auto;
}
.dashboard .dashboard-page .right-dashboard section main {
  padding: 15px 0 15px 20px;
}
.dashboard .dashboard-page .right-dashboard section main .p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-bottom: 3px solid whitesmoke;
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard .content-dashboard {
  margin: 10px 0;
  background: #cc2b5e;
  background: -webkit-linear-gradient(to left, #753a88, #cc2b5e);
  background: linear-gradient(to left, #753a88, #cc2b5e);
  box-shadow: 1px 1px 1px #021b79;
  margin-left: 20px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 230px;
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard .content-dashboard:hover {
  opacity: 0.9;
  transition: 0.3s;
  transform: scale(1.1);
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard .content-dashboard .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard .content-dashboard .content p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard .content-dashboard .content div {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 700;
}
.dashboard .dashboard-page .right-dashboard section main .main-dashboard .content-dashboard .content2 .icon {
  font-size: 40px;
  margin-left: 30px;
}
.dashboard .dashboard-page .right-dashboard section .content-schedule {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-bottom: 3px solid whitesmoke;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule {
  margin-top: 10px;
  width: 90%;
  margin-left: 15px;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .error {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .main-form-schedule {
  margin: 15px 0;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .main-form-schedule label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .main-form-schedule select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid grey;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .main-form-schedule select:focus {
  outline: 1px solid #1565C0;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .main-form-schedule input {
  width: 98.5%;
  padding: 5px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: 1px solid grey;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule .main-form-schedule input:focus {
  outline: 1px solid #1565C0;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule button {
  background: #cc2b5e;
  background: -webkit-linear-gradient(to left, #753a88, #cc2b5e);
  background: linear-gradient(to left, #753a88, #cc2b5e);
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 15px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 5px;
}
.dashboard .dashboard-page .right-dashboard section .form-schedule button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.dashboard .dashboard-page .right-dashboard section .new-schedule {
  background: #cc2b5e;
  background: -webkit-linear-gradient(to left, #753a88, #cc2b5e);
  background: linear-gradient(to left, #753a88, #cc2b5e);
  width: 180px;
  padding: 10px 0;
  border-radius: 7px;
  margin: 5px 0 10px 0;
  cursor: pointer;
}
.dashboard .dashboard-page .right-dashboard section .new-schedule:hover {
  opacity: 0.9;
  transition: 0.3s;
}
.dashboard .dashboard-page .right-dashboard section .new-schedule .link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.dashboard .dashboard-page .right-dashboard section .new-schedule .link .icon {
  font-size: 20px;
}
.dashboard .dashboard-page .right-dashboard section .tuser {
  width: 200px;
}
.dashboard .dashboard-page .right-dashboard section .table p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 3px solid whitesmoke;
  margin: 5px 0;
}
.dashboard .dashboard-page .right-dashboard section .table table {
  width: 90%;
  text-align: center;
  margin-left: 20px;
  border-collapse: collapse;
}
.dashboard .dashboard-page .right-dashboard section .table table thead {
  background: #536976;
  background: -webkit-linear-gradient(to left, #292E49, #536976);
  background: linear-gradient(to left, #292E49, #536976);
}
.dashboard .dashboard-page .right-dashboard section .table table thead tr th {
  border: 1px solid #f1f1f1;
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody {
  cursor: pointer;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr:hover {
  background: #ddd;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr td {
  border: 1px solid #f1f1f1;
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr .td {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 90px;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr .td .link {
  display: flex;
  align-items: center;
  background: blue;
  padding: 3px 5px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 22px;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr .td .link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr .td button {
  display: flex;
  align-items: center;
  background: red;
  border: none;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr .td button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr:nth-child(odd) {
  background: #f2f2f2;
}
.dashboard .dashboard-page .right-dashboard section .table table tbody tr:nth-child(odd):hover {
  background: #ddd;
}

.register {
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register form {
  width: 350px;
  margin-top: 10px;
}
.register form p {
  color: white;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
}
.register form .error {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: red;
}
.register form .form-register {
  margin-top: 10px;
}
.register form .form-register input {
  width: 90%;
  background: none;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #021b79;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  outline: none;
  color: whitesmoke;
  font-weight: 500;
}
.register form .form-register ::-webkit-input-placeholder {
  color: whitesmoke;
}
.register form .form-register select {
  outline: none;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  background: none;
  border: 1px solid #021b79;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.register form button {
  margin-top: 15px;
  cursor: pointer;
  width: 90%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  border: none;
  font-weight: 700;
  background: none;
}
.register form button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
